#replay {
	width: 500px;
	margin: auto;
}

#replay #tblBoard {
	-webkit-transform: rotateX(180deg); 
	-moz-transform: rotateX(180deg); 
}

#replay #tblBoard td {
	width: 55px;
	height: 55px;
	background: #eee;
	text-align: center;
	font-size: 2.1em;
	
	-webkit-transform: rotateX(180deg); 
	-moz-transform: rotateX(180deg); 
}

#replay #tblBoard tr:nth-child(2n) td:nth-child(2n + 1) {
	background: #ccc;
}

#replay #tblBoard tr:nth-child(2n) td:nth-child(2n) {
	background: #fefefe;
}

#replay #tblBoard tr:nth-child(2n + 1) td:nth-child(2n + 1) {
	background: #fefefe;
}

#replay #tblBoard tr:nth-child(2n + 1) td:nth-child(2n) {
	background: #ccc;
}

#replay #controlle {
	text-align: center;
}